/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.8);
    }
    .nav-link {
        font-family: Inter;
        font-size: 20px;
        margin-right: 36px;
    }
}

/* Utility */
.tombol {
    font-family: Inter;
    font-size: 20px;
    border-radius: 70px;
    height: 43px;
    width: 129px;
}

.jumbotron {
    background-size: cover;
    height: 1024px;
    text-align: center;
    margin-top: -160px;
}

.jumbotron .display-4 {
    padding-top: 420px;
    font-family: Montserrat;
    font-size: 58px;
    color: white;
}

.jumbotron .lead {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: white;
}

.search{
    position: relative;
    padding-top: 37px;
}

.search input{
    font-family: Montserrat;
    margin: auto;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1.2px;
    width: 832px;
    height: 57px;
    text-indent: 45px;
    border-radius: 20px;
}

.search input:focus{
    box-shadow: none;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

/* info content */
.info-content {
    background-color: white;
    border-radius: 20px;
    height: 170px;
    width: 1183px;
    margin-top: -260px;
    padding: 42px;
}

.tombol-1 {
    font-family: Montserrat;
    font-size: 32px;
    padding-top: 20px;
    border-radius: 18px;
    height: 90px;
    width: 216px;
    margin-left: 130px;
}

.info-content .text-1 {
    font-family: Montserrat;
    font-size: 20px;
}

.info-content .text-2 {
    font-family: Open Sans;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 50px;
}

.info-content .text-3 {
    font-family: Open Sans;
    font-size: 16px;
    padding-top: 15px;
}

/* Container-2 */
.info-text {
    margin-top: 100px;
    padding-left: 450px;
}

.text-dest {
    font-family: Montserrat;
    font-size: 48px;
}

.color-blue {
    color: blue;
}

.text-vis {
    font-family: Montserrat;
    font-size: 30px;
}